@font-face {
    font-family: 'Galien';
    src: url("../fonts/Galien/AnyConv.com__Galien-Bold.woff2") format('woff2'),
        url("../fonts/Galien/AnyConv.com__Galien-Bold.woff") format('woff'),
        url("../fonts/Galien/OTF/Galien-Bold.otf") format('otf'),
        url("../fonts/Galien/TTF/Galien-Bold.ttf") format('ttf');
    ;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 740px;
    background: linear-gradient(0deg, #98c3e82f 8.84%, rgba(152, 195, 232, 0) 31.12%);
    background-repeat: no-repeat;
}

p {
    margin: 0;
    padding: 0;
}

.header {
    position: relative;
}

.header__wrapper {
    position: relative;
    overflow-x: hidden;

    display: flex;
    justify-content: space-between;
    width: 1200px;
    width: 90%;
    margin: 40px auto 0;
}

.menu-btn {
    width: 30px;
    height: 30px;
    background: url("../img/svg/burger.svg") no-repeat center;
    /* position: absolute;
    right: 40px;
    top: 40px;
    z-index: 20; */
    overflow: hidden;
    transition: 0.5s;

}
.menu-btn-active {
    width: 30px;
    height: 30px;
    background: url("../img/svg/close.svg") no-repeat center;
    /* position: absolute;
    right: 65px;
    top: 40px;*/
    z-index: 40; 
    overflow: hidden;
    transition: 0.5s;

}

.menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 30%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #5A98D0;
    border-radius: 50px 0px 0px 0px;
    z-index: 30;
    transform: translateX(100%);
    transition: 0.5s;
}

.menu-active{
    transform: translateX(0%);
    transition: 0.5s;
}


.menu-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    flex-direction: column;
}

.menu-list a {
    text-decoration: none;
    font-family: 'Gilroy';
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.header__content {
    width: 945px;
    margin: 0 auto;
}

.header__article {
    padding-top: 101px;
}

.header__title {
    width: 515px;
    font-family: 'Galien';
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin: 0;
}

.header__arcticle-text {
    width: 425px;
    padding-top: 32px;
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}

.button {
    margin-top: 71px;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(1, 2, 3, 0.2);
    border-radius: 10px;
    border-style: none;
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 15px 48px;
}

.ilustration {
    position: absolute;
    left: 700px;
    top: 100px;
}

.main {
    margin-top: 380px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
}

.column-1 {
    width: 460px;
}


.main__title {
    width: 360px;
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #316099;
}

.card {
    position: relative;
    width: 380px;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}

.card-1 {
    padding-top: 200px;
}

.card-2 {
    margin-top: 158px;
    margin-left: 80px;
}

.card-3 {
    margin-top: 100px;
}

.card__container {
    width: 284px;
    margin: 0 auto;
    padding: 48px 0;
}

.card__img {
    margin-bottom: 56px;
    margin-left: 30px;
}

.card__img-1 {
    position: absolute;
    top: -30px;
}

.card__title {
    font-family: 'Gilroy';
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
}

.card__article {
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}

.learn-more {
    font-family: 'Gilroy';
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    display: inline-flex;
    padding-top: 32px;
}

.learn-more::after {
    content: url("../img/svg/arrow-r.svg");
    align-items: center;
    padding-left: 24px;
    padding-top: 3.5px;
    cursor: pointer;
}