@font-face {
    font-family: 'Galien';
    src: url("../fonts/Galien/AnyConv.com__Galien-Bold.woff2") format('woff2'),
        url("../fonts/Galien/AnyConv.com__Galien-Bold.woff") format('woff'),
        url("../fonts/Galien/OTF/Galien-Bold.otf") format('otf'),
        url("../fonts/Galien/TTF/Galien-Bold.ttf") format('ttf');
    ;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    /* width: 100%;
    height: 740px; */
    /* height: 100vh; */
    /* background: linear-gradient(0deg, #98c3e82f 8.84%, rgba(152, 195, 232, 0) 31.12%);
    background-repeat: no-repeat; */
    /* background: url('../img/bg.png') no-repeat center;
    background-size: cover; */
}

p {
    margin: 0;
    padding: 0;
}

.header {
    position: relative;
    width: 100%;
    height: 740px;
    /* height: 100vh; */
    background: linear-gradient(0deg, #98c3e82f 8.84%, rgba(152, 195, 232, 0) 31.12%);
    background-repeat: no-repeat;
    /* background: url('../img/bg.png') no-repeat center;
    background-size: cover; */

}


.header__wrapper {
    position: relative;
    overflow-x: hidden;

    display: flex;
    justify-content: space-between;
    width: 1200px;
    width: 90%;
    margin: 40px auto 0;
}

.menu-btn {
    width: 30px;
    height: 30px;
    background: url("../img/svg/burger.svg") no-repeat center;
    /* position: absolute;
    right: 40px;
    top: 40px;
    z-index: 20; */
    overflow: hidden;
    transition: 0.5s;

}

.menu-btn-active {
    width: 30px;
    height: 30px;
    background: url("../img/svg/close.svg") no-repeat center;
    /* position: absolute;
    right: 65px;
    top: 40px;*/
    z-index: 40;
    overflow: hidden;
    transition: 0.5s;

}

.menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 30%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #5A98D0;
    border-radius: 50px 0px 0px 0px;
    z-index: 30;
    transform: translateX(100%);
    transition: 0.5s;
}

.menu-active {
    transform: translateX(0%);
    transition: 0.5s;
}


.menu-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    flex-direction: column;
}

.menu-list a {
    text-decoration: none;
    font-family: 'Gilroy';
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.menu-list a:hover,
.menu-list a:focus {
    text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.607);
    font-size: 21px;

}

.header__content {
    /* width: 945px; */
    margin: 0 auto;
    height: 100vh;

}

.header__article {
    padding-top: 101px;
}

.header__title {
    width: 515px;
    font-family: 'Galien';

    /* font-size: 64px; */
    font-size: 4.3vw;

    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin: 0;
}

.header__arcticle-text {
    width: 425px;
    padding-top: 32px;
    font-family: 'Gilroy';


    /* font-size: 16px; */
    font-size: 1vw;




    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}

.button {
    margin-top: 71px;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(1, 2, 3, 0.2);
    border-radius: 10px;
    border-style: none;
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 15px 48px;
}

.button:hover,
.button:focus {
    background: #5A98D0;
    box-shadow: 1px 1px 2px #5A98D0, -1px -1px 2px rgba(32, 110, 165, 0.5), inset -8px 8px 16px rgba(18, 105, 180, 0.2), inset 8px -8px 16px rgba(45, 99, 153, 0.2), inset -8px -8px 16px rgba(88, 137, 193, 0.9), inset 8px 8px 20px rgba(53, 122, 164, 0.525);
}

.ilustration {
    position: absolute;
    /* left: 700px; */
    left: 50%;
    /* top: 100px; */
    top: 20%;

    width: 48%;
}

.main {
    /* margin-top: 380px; */
    margin-top: 180px
}

.container {
    /* width: 940px; */
    width: 70%;
    margin: 0 auto;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.column-1 {
    width: 460px;
}


.main__title {
    width: 360px;
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #316099;
}

.card {
    position: relative;
    width: 380px;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}

.card-1 {
    padding-top: 200px;
}

.card-2 {
    margin-top: 158px;
    margin-left: 80px;
}

.card-3 {
    margin-top: 100px;
}

.card__container {
    width: 284px;
    margin: 0 auto;
    padding: 48px 0;
}

.card__img {
    margin-bottom: 56px;
    margin-left: 30px;
}

.card__img-1 {
    position: absolute;
    top: -30px;
}

.card__title {
    font-family: 'Gilroy';
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
}

.card__article {
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}

.learn-more {
    font-family: 'Gilroy';
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    display: inline-flex;
    padding-top: 32px;
}

.learn-more::after {
    content: url("../img/svg/arrow-r.svg");
    align-items: center;
    padding-left: 24px;
    padding-top: 3.5px;
    cursor: pointer;
}

.projects {
    margin-top: 157px;
}

.projects__post {
    display: flex;
}

.projects__title {
    width: 260px;
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #1F3F68;
}

.projects__article {
    margin-left: 84px;
    width: 530px;
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}

.projects__example {
    margin-top: 108px;
}

.example-1 {
    width: 100%;
    height: 420px;
    background: url('../img/4.png') no-repeat center;
    background-size: cover;
    border-radius: 10px;
}

.example-2-3 {
    display: flex;
    justify-content: space-between;
    margin-top: 96px;
}

.example-2 {
    width: 422px;
    height: 417px;
    background: url('../img/5.png') no-repeat center;
    border-radius: 10px;
}

.example-3 {
    width: 422px;
    height: 417px;
    background: url('../img/6.png') no-repeat center;
    border-radius: 10px;
}

.clients {
    background: #5A98D0;
    border-radius: 200px 0px 0px 0px;
    margin-top: 192px;
    width: 100%;
}

.clients__post {
    padding-top: 96px
}

.clients__title {
    font-weight: 600;
    color: white
}

.clients__article {
    color: white;
    opacity: 0.6;
}



/*    TABLE    */
.clients__table {
    width: 100%;
    border: 2px solid #5A98D0;
    /*Цвет фона*/
    border-collapse: collapse;
    border-spacing: 0;
    height: auto;
    margin-top: 123px;
    font-family: 'Gilroy';
    font-size: 20px;
    line-height: 46px;
    letter-spacing: 0.02em;
    color: #F2F2F2;
    text-align: center;
}

.clients__table td {
    border: 1px solid #FFFFFF;
    padding: 40px 42px;
}

.clients__table .more {
    background: #1f3f6849;
}



/*    FOOTER    */
.footer {
    /* background: #5A98D0; */
    padding-top: 125px;
}


.footer-bg {
    width: 90%;
    background: #316099;
    border-radius: 0px 200px 0px 0px;
}

.footer__inter {
    display: flex;
    padding-top: 90px;
    justify-content: space-between;
}

.footer__arcticle {
    width: 490px;
}

.footer__title {
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.footer-arcticle__text {
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    padding-top: 32px;
}


.footer__contacts {
    width: 85%;
    display: flex;
    justify-content: space-between;
    padding-top: 174px;
    padding-bottom: 64px;
}

.contacts {
    width: 300px;
}

.contacts__logo-title {
    display: flex;
}

.contacts-logo {
    background: url('../img/svg/logo-small.svg') no-repeat center;
    width: 48px;
    height: 32px;
}

.contacts__title {
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-left: 16px;
    align-items: center
}

.contacts__list {
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-top: 33px;
}

.contact__item {
    display: flex;
    margin-bottom: 24px;
}

.cont-letter {
    width: 20px;
}

.cont-text {
    margin-left: 16px;
}

.copyr {
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */

    letter-spacing: 0.05em;

    /* white */

    color: #FFFFFF;

    opacity: 0.4;
    margin-top: 40px;
}

.info {
    width: 340px;
    display: flex;
    justify-content: space-between;
    font-family: 'Gilroy';
    color: #FFFFFF;
}

.info-title {
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding-bottom: 32px;
}

.info-item1 {
    width: 165px;
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.info-item2 {
    width: 100px;
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.info__list {
    display: flex;
    flex-direction: column;
}

.info__list li {
    padding-bottom: 16px;
}

.blog__header {
    margin-top: 42px;
}

.blog__bg {
    width: 100%;
    height: 250px;
    background: url('../img/bg-2.png') no-repeat center;
    background-size: cover;
}

.blog-header__content {
    width: 780px;
    margin: 0 auto;
    padding: 50px 0;

}

.blog-header__title {
    font-family: 'Gilroy';
    font-size: 44px;
    line-height: 74px;
    /* identical to box height, or 168% */

    text-align: center;
    letter-spacing: 0.04em;

    color: #FFFFFF;

}

.blog-header__text {
    font-family: 'Gilroy';
    font-size: 20px;
    line-height: 30px;
    /* or 150% */

    text-align: center;
    letter-spacing: 0.04em;

    color: rgba(255, 255, 255, 0.4);

}


/*    SEARCH    */

.search form {
    width: 100%;
    margin: 0 auto;
}

.search input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 0px;
    border-radius: 10px;
    outline: none;
    color: #9E9C9C;
    background: #F4F4F4;
    border-radius: 10px;

    font-style: 'Gilroy';
    font-weight: 300;
    padding: 20px 52px;
}

.search input::placeholder {
    font-style: 'Gilroy';
    font-weight: 300;
    color: #9E9C9C;
}

.main-blog {
    margin-top: 56px;
}


/* CONTACT */
.contact {
    margin-top: 57px;
    display: flex;
    /* justify-content: ; */
}

.contact__info {
    width: 350px;
}

.contact__img {
    width: 300px;
    height: 181px;
    background: url('../img/contact.png') no-repeat center;
    background-size: cover;
    padding-bottom: 31px;
    margin-top: 60px;
}

.contact__info {
    padding-top: 71px;
}

.contact__info-title {
    font-family: 'Gilroy';
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;

    padding-top: 24px;


}
.iskl{
    padding-top: 40px;
}

.contact__info-text {
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.6;

    padding-top: 24px;
}
.contact__info-text-item{
    display: flex;
    align-items: center;
    padding-bottom: 16px;
}
.contact__info-text-item .text{
    padding-left: 16px;
}